@font-face {
    font-family: 'IDAutomationHC39M';
    src: url('IDAutomationHC39M.woff2') format('woff2'),
        url('IDAutomationHC39M.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

